

body {
	background-color: yellow;

}



h1 {
	color: black;

	line-height:300px;

}

.info {

	font-family: helvetica;
	font-size: 90px;
	
	margin-bottom: 300px;
	text-align: center;
	margin-left: 30px;
	line-height:100px;
	letter-spacing:5px;
}



a:hover {
  background-color:blue;
  color:white;
}