
body {
	background-color: white;
	background-size: 100px;


	
	
}




.sans {
	font-family: helvetica;
	font-size: 140px;
	text-decoration: overline;
	line-height:180px;
	letter-spacing: 5px;

	
}


a:hover {
  background-color:red;


  color:black;
  
}



@media screen and (max-width: 400px){
    
	.sans {
	font-family: helvetica;
	font-size: 70px;
	text-decoration: overline;
	line-height:90px;
	letter-spacing: 2.5px;

	
}


	a:hover {
  	background-color:red;
	color:black;
  
}


}



