/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







body {
	background-color: white;
	font-size: 80px;
	color: black;
}





.date {
	font-family: garamond;
	
	position:fixed;
	top: 3rem;
	left: 3rem;
}


.one{
	font-family: garamond;
	position:fixed;
	top: 3rem;
	right:3rem;

	
}


.two{
	font-family: garamond;
	position:fixed;
	top: 23rem;
	right: 3rem;
	transform: rotate(90deg);
	
}

.three {
	font-family: garamond;
	position:fixed;
	bottom:3rem;
	right: 3rem;
	transform: rotate(180deg);
}

.four {
	font-family: garamond;
	position:fixed;

	left:3rem;
	bottom: 3rem;
	transform: rotate(180deg);
}


.five {
	font-family: garamond;
	
	position:fixed;
	top: 23rem;
	left: 3rem;
	transform: rotate(-90deg);
	
}



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 94vh;5
}

.content {
	text-align: justify;
	font-size: 2rem;
	font-family: Helvetica;
	color:black;
	letter-spacing: .1px;
	line-height:1.2;
	width:45%;
	
	padding:15px 15px 15px 15px;
}


.overlinedate {
	font-size: 2rem;
	text-align: center;
	color:black;
}

a:hover {
  background-color:white;
  color:blue;
  
}


@media screen and (max-width: 500px){

body {
	background-color: white;
	font-size: 50px;
	color: black;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 94vh;
}


.content {
	
	font-size: 1.5rem;
	font-family: Helvetica, sans-serif;
	text-align: left;
	line-height:1.2;
	width:60%;
	
	background-color:white;
	padding:15px 15px 15px 15px;

}



.overlinedate {
	font-size: 1rem;
	text-align: center;
}



.date {
	font-family: garamond;
	
	position:fixed;
	top: .5rem;
	left: .5rem;
}


.one{
	font-family: garamond;
	position:fixed;
	top: .5rem;
	right:.5rem;

	
}


.two{
	font-family: garamond;
	position:fixed;
	top: 18rem;
	right: .5rem;
	transform: rotate(90deg);
	
}

.three {
	font-family: garamond;
	position:fixed;
	bottom:.5rem;
	right: .5rem;
	transform: rotate(180deg);
}

.four {
	font-family: garamond;
	position:fixed;

	left:.5rem;
	bottom: .5rem;
	transform: rotate(180deg);
}


.five {
	font-family: garamond;
	
	position:fixed;
	top: 18rem;
	left: .5rem;
	transform: rotate(-90deg);
	
}




}