body {
	background-color: yellow;
	background-size: 100px;


	
	
}




.sans3 {
	font-family: helvetica;
	font-size: 300px;
	line-height: 260px;
	

	
}


a:hover {
  background-color:blue;


  color:black;
  
}



@media screen and (max-width: 500px){
    

.sans3 {
	font-family: helvetica;
	font-size: 105px;
	line-height: 101px;
	letter-spacing: 2.5px;
	

	
}


a:hover {
  background-color:blue;


  color:black;
  
}

	
}

